/**
 * MTV Config
 * ----------------------------------------------
 * MTV config on top of Scratch and current showcase.
 * All settings gonna be here in one file.
 */


/**
 * Icons
 */
@icon-family: 'mtvPlayIcons';
// @icon-external-link: 'https://i.icomoon.io/public/1760d3d9bc/MTVPlayV2/style.css';
@import url('https://i.icomoon.io/public/1760d3d9bc/MTVPlayV2/style.css');


/**
 * Colors
 */

@purple: #3B1D58;

@yellow: #FFE900;

@pink: #F62759;


/**
 * Color priorities
 */

@primary: @pink;

@secondary: @purple;

@tertiary: @yellow;
@tertiary-hover: @pink;
@tertiary-contrast: @purple;