.main.container {
  width: 100%;
  z-index: 150;
  .sizing;

  padding-top: 6rem;

  > section {
    padding: 2rem 0;

    > section {
      padding: 2rem 0 0;
    }

    > section > .title,
    > div > .title,
    > .title {
      text-transform: uppercase;
      color: @grayscale-dark;

      & + section {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  hr {
    width: 20%;
  }

  .forms {
    > section {

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ui-paragraph {
      color: @midgray;
      margin: 1.5rem 0 .5rem;
    }

    .inputs {
      .ui-input {
        vertical-align: top;
        margin-right: .8rem;
      }
    }

    .selects {
      .ui-select {
        vertical-align: top;
        margin-right: .8rem;
      }
    }

    .labels {
      .ui-label {
        margin-right: .8rem;
      }
    }

    .buttons {
      .ui-button {
        vertical-align: top;
        margin-right: .8rem;
      }
    }
  }

  aside {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    width: 400px;
    .scheme(@secondary-scheme-inverse);
    padding: 20px 15px;
    .radius(@input-radius);

    &.notification {
      .scheme(@grayscale-light-scheme-inverse);
    }

    .ui-row {
      .ui-row(@secondary-scheme-inverse);
    }

    .large.ui-button:not(.iconic) {
      width: 100%;
      margin: 1rem 0 0;
    }
  }
}
